.hobbies {
    width: 415px;
    &__block {
        padding: 22px 22px 33px 22px;
    }
    &__card {
        margin-top: 36px;
    }
    &__img {
        width: 100%;
        height: 140px;
        border-radius: 12px;
        object-fit: cover;
    }
    &__title {
        margin-top: 26px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    &__text {
        margin-top: 10px;
    }
}