body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  padding-top: 110px;
  width: 980px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
}

.team {
  margin-top: 100px;
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: space-between;
}

.card {
  font-family: 'PT Serif', serif;
  position: relative;
}

.card img {
  max-width: 238px;
  object-fit: cover;
}

.mt-120 {
  margin-top: 120px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
}

.side-text {
  font-size: 14px;
  position: absolute;
  right: -70px;
  top: 65px;
  transform: rotate(90deg);
  text-transform: uppercase;
  text-align: left;
  width: 150px;
}

.descr {
  font-size: 18px;
  max-width: 440px;
  font-family: 'Poppins', sans-serif;
}

footer {
  margin-top: 120px;
  padding-bottom: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #A9A9A9;
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .mt-120 {
    margin-top: 0;
  }

  .mt-md {
    margin-top: 60px;
  }

  .descr {
    grid-area: 2 / 1 / 3 / 2;
  }

  .team {
    margin-top: 150px;
    grid-template-columns: repeat(2, 155px);
    justify-content: space-around;
  }

  .card img {
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .team {
    margin-top: 200px;
  }
}